<html>
  <head>
       <title>Webfit</title> 
       
  </head>
  <body>
    <header>
    </header>
    <form>
    <div class="LoginPanel">
      <hr>
      <h1>WebFit</h1>
      <span>Username:</span>
      <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" name="username"  placeholder="Username" required>
      <br><br>
      <span>Password: </span>
      <input type="text" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" name="password" placeholder="Password" required>
      <br><br>
      <button class="btbejelentkezes" type="submit" (click)="onLoginButtonClick()">Login</button>
      <button class="btregisztracio" type="submit" (click)="onRegisterButtonClick()">Register</button>
    <hr>
    </div>
    </form>
  </body>
</html>
