body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url('/assets/box.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}